# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `cargo test`
*.test

# Rust/Cargo related files
/target/
/Cargo.lock

# VSCode related files
.vscode/
*.code-workspace

# Temporary files
*.tmp
*.log
*.swp
*.swo
*.bak
*.old

# Node related files
node_modules/
npm-debug.log
yarn-error.log

# IDE related files
.idea/
*.iml
